#formatting {
background-color: rgb(187, 74, 103);
}

#matematika{
    background-color: rgb(173, 106, 151);
}
#kimia{
    background-color: rgb(70, 70, 131);
}

#paragraf{
    background-color: rgb(52, 117, 117);
}